.sortable {
    cursor: hand;
    color: yellow
}

.warning {
    background-color: orange;
}

table {
  color: black;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background:lightgrey;
}

.header-row {
    background: darkblue;
    color: whitesmoke
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}