.search-form {
    margin-bottom: 40px;
    margin-left: 40px;
}

button {
    color: whitesmoke;
    background-color: green;
    font-size: 18px;
    border-radius: 4px;
    padding: 2px 5px;
    cursor: pointer;
    margin-left: 10px;
}